@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F1EFEC;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 30.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  font-weight: 700;
}

.intro {
  position: relative;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 50px 0px 30px;
}

.button {
  padding: 38px 10px;
  outline: none;
  background: #F1EFEC;
  border: 3px solid #000;
  border-radius: 16px;
  text-align: center;
  width: calc(50% - 5px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__button {
  padding: 38px 30px;
  outline: none;
  border: 0;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  font-weight: 600;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__container1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about__container1 h3 {
  margin: 50px 0px 30px;
}

.cv__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 30px;
  margin-top: 30px;
  text-align: start;
  width: 100%;
}

.portfolio__button {
  padding: 29px 30px;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.portfolio__button span {
  font-size: 10px;
  font-weight: normal;
  background-color: transparent;
}

.arrow {
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath stroke=%27%23F5857D%27 stroke-linecap=%27round%27 stroke-width=%271.5%27 d=%27m10 7 1.763 1.747c1.406 1.394 2.109 2.09 2.217 2.94a2.48 2.48 0 0 1 0 .626c-.108.85-.811 1.546-2.217 2.94L10 17m12-5c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z%27/%3E%3C/svg%3E");
}

.downloadcv {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23000%27 d=%27m7.218 20.938-.117.741.117-.74Zm-4.156-4.156.74-.117-.74.117Zm17.876 0 .741.117-.74-.117Zm-4.156 4.156.117.741-.117-.74ZM20.6 10.55a.75.75 0 0 0-1.2.9l1.2-.9Zm-16 .9a.75.75 0 1 0-1.2-.9l1.2.9ZM12.75 3a.75.75 0 0 0-1.5 0h1.5Zm-4.162 9.534a.75.75 0 0 0-1.176.932l1.176-.932Zm.81 2.229-.588.466.588-.466Zm5.204 0-.588-.466.588.466Zm1.986-1.297a.75.75 0 0 0-1.176-.932l1.176.932Zm-4.839 3.514-.118.74.118-.74Zm.502 0 .118.74-.118-.74ZM20.25 14v1h1.5v-1h-1.5ZM15 20.25H9v1.5h6v-1.5ZM3.75 15v-1h-1.5v1h1.5ZM9 20.25c-.958 0-1.35-.002-1.665-.052l-.234 1.481c.461.073.999.071 1.899.071v-1.5ZM2.25 15c0 .9-.002 1.438.07 1.9l1.482-.235c-.05-.316-.052-.707-.052-1.665h-1.5Zm5.085 5.198a4.25 4.25 0 0 1-3.533-3.533l-1.481.235a5.75 5.75 0 0 0 4.78 4.78l.234-1.482ZM20.25 15c0 .958-.002 1.35-.052 1.665l1.481.235c.073-.462.071-1 .071-1.9h-1.5ZM15 21.75c.9 0 1.438.002 1.9-.07l-.235-1.482c-.316.05-.707.052-1.665.052v1.5Zm5.198-5.085a4.25 4.25 0 0 1-3.533 3.533l.235 1.481a5.75 5.75 0 0 0 4.78-4.78l-1.482-.234ZM21.75 14c0-1.294-.428-2.49-1.15-3.45l-1.2.9c.534.71.85 1.592.85 2.55h1.5Zm-18 0c0-.958.316-1.84.85-2.55l-1.2-.9A5.728 5.728 0 0 0 2.25 14h1.5Zm7.5-11v13h1.5V3h-1.5ZM7.412 13.466l1.398 1.763 1.176-.932-1.398-1.763-1.176.932Zm7.778 1.763 1.398-1.763-1.176-.932-1.398 1.763 1.176.932Zm-6.38 0c.546.689.995 1.256 1.396 1.659.404.405.852.741 1.425.833l.236-1.482c-.106-.017-.276-.086-.599-.41-.326-.328-.714-.815-1.282-1.532l-1.176.932Zm5.204-.932c-.568.717-.956 1.204-1.282 1.532-.323.324-.493.393-.6.41l.237 1.482c.573-.092 1.021-.428 1.425-.834.401-.402.85-.97 1.396-1.658l-1.175-.932Zm-2.383 3.424c.122.02.246.029.369.029v-1.5a.85.85 0 0 1-.133-.01l-.236 1.48Zm.369.029c.123 0 .247-.01.369-.03l-.236-1.48a.85.85 0 0 1-.133.01v1.5ZM11.25 16v1h1.5v-1h-1.5Z%27/%3E%3C/svg%3E");
}

.david {
  left: -300px;
  top: -70px;
  width: 72px;
  height: 45px;
  margin-bottom: 200px;
  margin-left: 200px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2772%27 height=%2745%27 fill=%27none%27 viewBox=%270 0 72 45%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Cpath fill=%27%23F5857D%27 fill-rule=%27evenodd%27 d=%27M71.872 42.78c-.515-1.426-8.258-20.953-8.378-21.128-.179-.262-.58-.535-.905-.615a1.7 1.7 0 0 0-1.02.103c-.288.127-.675.493-.787.745-.044.1-.632 2.23-1.307 4.733-.675 2.504-1.243 4.568-1.263 4.588-.02.02-2.052.579-4.515 1.241-2.463.663-4.58 1.242-4.704 1.288-.306.111-.714.507-.85.827a2.146 2.146 0 0 0-.138.545 1.597 1.597 0 0 0 .652 1.386c.213.146 20.996 8.36 21.429 8.468.488.123 1.073-.05 1.453-.43.468-.468.581-1.065.333-1.752Z%27 clip-rule=%27evenodd%27/%3E%3Crect width=%2754%27 height=%2725%27 fill=%27%23F5857D%27 rx=%274%27/%3E%3Cpath fill=%27%23F1EFEC%27 d=%27M13.852 17h-3.094V8.273h3.12c.878 0 1.633.174 2.267.524a3.54 3.54 0 0 1 1.462 1.496c.343.65.515 1.429.515 2.335 0 .909-.172 1.69-.515 2.344a3.544 3.544 0 0 1-1.47 1.504c-.637.35-1.398.524-2.285.524Zm-1.248-1.581h1.172c.545 0 1.004-.097 1.376-.29.375-.196.656-.498.844-.907.19-.412.285-.944.285-1.594 0-.645-.095-1.172-.285-1.581a1.848 1.848 0 0 0-.84-.904c-.372-.193-.83-.29-1.376-.29h-1.176v5.566Zm8.717 1.705c-.417 0-.79-.073-1.116-.218a1.798 1.798 0 0 1-.776-.652c-.187-.29-.28-.65-.28-1.082 0-.364.066-.67.2-.916.133-.248.315-.446.545-.597.23-.15.491-.264.784-.34.295-.078.605-.132.929-.163.38-.04.687-.077.92-.11.233-.037.402-.091.507-.162a.356.356 0 0 0 .158-.316v-.025c0-.27-.085-.48-.256-.627-.167-.148-.406-.221-.715-.221-.327 0-.587.072-.78.217a1 1 0 0 0-.384.537l-1.679-.136c.085-.398.253-.742.503-1.032.25-.292.572-.517.967-.673.398-.16.858-.239 1.381-.239.364 0 .712.043 1.044.128.335.085.632.217.89.396.262.18.468.41.619.69.15.28.226.613.226 1.002V17h-1.722v-.908h-.051a1.846 1.846 0 0 1-.422.542 1.952 1.952 0 0 1-.635.362 2.623 2.623 0 0 1-.857.128Zm.52-1.253c.267 0 .503-.053.708-.158.204-.108.365-.253.481-.435a1.12 1.12 0 0 0 .175-.617v-.695a.974.974 0 0 1-.234.102 4.245 4.245 0 0 1-.329.081c-.122.023-.244.044-.366.064a99.05 99.05 0 0 0-.332.047c-.213.031-.4.08-.559.15a.892.892 0 0 0-.37.276.675.675 0 0 0-.133.426c0 .247.09.436.269.567.182.128.412.192.69.192Zm10.443-5.417L29.995 17H27.95l-2.288-6.546h1.917l1.36 4.684h.068l1.355-4.684h1.922ZM33.213 17v-6.546h1.815V17h-1.815Zm.912-7.39a.987.987 0 0 1-.695-.268.87.87 0 0 1-.285-.652c0-.25.095-.464.285-.643a.978.978 0 0 1 .695-.273c.27 0 .5.091.69.273.193.179.29.393.29.643 0 .253-.097.47-.29.652a.972.972 0 0 1-.69.269Zm4.77 7.497a2.47 2.47 0 0 1-1.352-.384c-.4-.258-.718-.638-.954-1.138-.233-.503-.35-1.12-.35-1.85 0-.75.121-1.373.363-1.87.241-.5.562-.873.963-1.12.403-.25.845-.376 1.325-.376.366 0 .672.063.916.188.247.122.446.275.597.46.153.182.27.36.35.537h.054V8.273h1.812V17h-1.79v-1.048h-.077a2.338 2.338 0 0 1-.362.54 1.801 1.801 0 0 1-.6.44c-.245.116-.544.175-.896.175Zm.574-1.445c.293 0 .54-.08.742-.239.205-.162.36-.387.469-.677.11-.29.166-.63.166-1.019 0-.389-.054-.727-.162-1.014a1.455 1.455 0 0 0-.469-.665 1.192 1.192 0 0 0-.746-.234c-.298 0-.55.08-.754.243a1.48 1.48 0 0 0-.464.673c-.105.287-.158.62-.158.997 0 .381.053.718.158 1.01.108.29.263.517.464.682.205.162.456.243.754.243Z%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h72v45H0z%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.company {
  display: inline-block;
}

.neironica {
  width: 40px;
  height: 37px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2740%27 height=%2738%27 fill=%27none%27 viewBox=%270 0 40 38%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Cpath fill=%27%23333%27 d=%27M39.986 15.879c0 .955.04 1.94-.01 2.921-.05.924-.604 1.6-1.366 2.053a15.21 15.21 0 0 1-2.204 1.078 30.557 30.557 0 0 0-11.291 7.595 23.281 23.281 0 0 0-4.186 6.159c-.172.37-.333.75-.536 1.104-.246.423-.601.41-.858-.022a5.513 5.513 0 0 1-.312-.637c-1.899-4.354-4.978-7.72-8.753-10.5-2.246-1.642-4.722-2.874-7.294-3.9a12.68 12.68 0 0 1-1.897-1A2.572 2.572 0 0 1 0 18.307c.033-.92 0-1.843 0-2.91.72 1.069 1.692 1.592 2.702 2.052 1.798.821 3.617 1.616 5.384 2.505 2.447 1.232 4.75 2.693 6.775 4.563a20.338 20.338 0 0 1 4.801 6.481c.082.18.173.357.304.616.127-.222.218-.353.284-.495 1.691-3.717 4.374-6.569 7.726-8.827 2.532-1.708 5.254-3.05 8.052-4.251.657-.282 1.336-.532 1.962-.877.68-.374 1.312-.838 1.996-1.285Z%27/%3E%3Cpath fill=%27%23333%27 d=%27M19.9 26.687a3.117 3.117 0 0 1-.41-.503c-1.964-3.711-5.16-6.017-8.876-7.708-.869-.396-1.784-.684-2.67-1.027a13.482 13.482 0 0 1-.931-.41A1.724 1.724 0 0 1 5.986 15.3c.03-.68 0-1.363 0-2.145.967.883 2.115 1.213 3.22 1.642 2.204.838 4.372 1.75 6.336 3.08 1.702 1.13 3.14 2.52 4.15 4.31.092.143.192.28.301.41.089-.077.169-.164.238-.26 1.38-2.48 3.49-4.173 5.953-5.479a37.687 37.687 0 0 1 5.358-2.303c.822-.288 1.626-.684 2.476-1.047 0 .665.027 1.402 0 2.135a1.55 1.55 0 0 1-.967 1.355c-.644.31-1.306.584-1.98.82a21.825 21.825 0 0 0-6.293 3.372c-1.691 1.311-3.143 2.835-4.181 4.721a7.23 7.23 0 0 1-.44.684c-.024.047-.117.05-.256.092ZM20.118 0c.776 1.063 1.46 1.995 2.19 2.995-.318.113-.601.205-.876.312-.95.376-1.928.698-2.841 1.152a3.675 3.675 0 0 0-2.053 2.775c-.263 1.48.778 2.963 1.907 3.406 1.045.41 1.792.156 2.621-.883-.182.772-.615 1.168-1.437 1.3a3.56 3.56 0 0 1-4.058-3.137 4.162 4.162 0 0 1 .753-3.008c.821-1.127 1.681-2.24 2.531-3.35.372-.484.766-.946 1.263-1.562Z%27/%3E%3Cpath fill=%27%23333%27 d=%27m10.84 8.723 3.079-2.125c.513 1.217.956 2.398 1.502 3.527s1.53 1.814 2.782 2.053a3.359 3.359 0 0 0 3.568-1.828c.388-.82.178-1.584-.427-2.299.688.34 1.08 1.214.952 2.02-.236 1.495-1.587 2.841-3.091 3.039-1.15.15-2.258.024-3.233-.676-1.684-1.221-3.37-2.44-5.133-3.711Z%27/%3E%3Cpath fill=%27%23333%27 d=%27M18.716 9.564c-.869-.507-1.103-1.326-.943-2.243.341-1.96 2.464-3.363 4.476-2.944a4.72 4.72 0 0 1 1.695.667c1.655 1.143 3.26 2.363 4.88 3.558.05.034.066.112.152.268l-2.942 2.053c-.234-.665-.398-1.25-.642-1.798a15.65 15.65 0 0 0-1.138-2.28 3.55 3.55 0 0 0-4.249-1.327 3.59 3.59 0 0 0-1.104.715c-1.12 1.047-1.144 2.132-.185 3.331Z%27/%3E%3Cpath fill=%27%23333%27 d=%27m19.968 17.722-2.127-2.909c.46-.162.875-.287 1.273-.453.912-.38 1.848-.708 2.71-1.187a3.464 3.464 0 0 0 1.578-4.222 3.286 3.286 0 0 0-1.808-1.848c-.602-.271-1.189-.097-1.944.125a2.646 2.646 0 0 1 2.582-.316 3.794 3.794 0 0 1 2.002 5.108 8.798 8.798 0 0 1-.998 1.66c-.944 1.253-1.936 2.464-2.913 3.695-.11.123-.23.24-.355.347Z%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h40v37.108H0z%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.firma__button {
  margin: 0 auto;
  padding: 38px 30px 30px;
  text-align: start;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.company__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  width: 100%;
}

.status {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
}

.date {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
}

.PremiaGI {
  width: 40px;
  height: 36px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2740%27 height=%2736%27 fill=%27none%27 viewBox=%270 0 40 36%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Ccircle cx=%2720%27 cy=%2720.822%27 r=%2715%27 fill=%27%23C3DFE9%27/%3E%3Cpath fill=%27%23EEC556%27 d=%27M15.714 16.536c-2.857-6.571 3.095-12.5 6.429-14.643L23.928.822c0 3.928-.357 6.071-.714 8.928-.266 2.127-3.571 9.286-1.786 6.072 1.429-2.572 4.881-2.738 6.429-2.5-6 4.286-7.738 9.166-7.857 11.071-2.143-6.785-.715.357-4.286-7.857Z%27/%3E%3Cellipse cx=%2720%27 cy=%2736.536%27 fill=%27%23fff%27 rx=%2720%27 ry=%2715%27/%3E%3Cpath fill=%27%23000%27 fill-rule=%27evenodd%27 d=%27M23.64.167c-.193.096-.299.269-.574.935-.502 1.215-1.484 2.994-2.112 3.825-.309.407-.776.934-1.66 1.872-1.87 1.982-2.364 2.69-2.81 4.018-.245.732-.414 1.655-.365 2 .03.208.085.27.262.286.112.011.142.003.204-.056.085-.078.083-.072.14-.567.119-1.018.449-2.016.92-2.775a8.66 8.66 0 0 1 .738-1.006c.105-.12.233-.266.283-.326l.091-.108-.018.516c-.023.692-.073 1.182-.22 2.177-.176 1.201-.202 1.465-.219 2.193-.01.48-.028.723-.066.923a9.39 9.39 0 0 0-.113 2.85 196.018 196.018 0 0 1 .161 1.56c.008.068.008.117 0 .11-.027-.028-.327-.701-.456-1.025a40.637 40.637 0 0 1-.704-2.065c-.163-.518-.226-.615-.4-.615-.144 0-.242.07-.282.204-.04.134-.023.198.358 1.356.316.964.502 1.452.805 2.115l.228.5-.09.068a3.476 3.476 0 0 0-.257.236c-.265.267-.314.52-.158.826.162.32.564.527 1.371.705.712.157.649.136.664.23l.043.26c.015.097.064.36.108.584.108.553.149.82.23 1.52.037.328.14 1.104.23 1.723.088.62.18 1.298.203 1.507l.057.511.015.131-.076-.015c-.194-.04-.803-.1-1.284-.124-.701-.037-.902-.056-.948-.093a59.12 59.12 0 0 1-1.105-1.207c-.084-.097-.09-.099-.285-.099-.197 0-.208.004-.797.282-1.005.475-1.66.776-3.058 1.405a12.54 12.54 0 0 0-.77.38c-.262.146-.333.174-.403.162-.467-.087-3.074-.187-3.756-.145-.157.01-.366.106-.984.458l-.352.2v.346c0 .19.004.346.01.346.005 0 .207-.117.449-.259.241-.142.522-.3.624-.351l.185-.093.03.069c.033.07.656 1.068.874 1.4l.12.183h.361c.423 0 .411.048.098-.407-.11-.162-.342-.518-.514-.791l-.313-.498.113-.008c.24-.018 2.121.05 2.509.091.234.025.509.037.647.03.234-.015.25-.02.557-.189.325-.178.643-.33 1.28-.61a109.1 109.1 0 0 0 2.176-1c.459-.215.843-.39.855-.388.012.001.138.137.28.302.41.477.93 1.005 1.304 1.325.19.162.386.343.435.401.064.076.143.257.283.646.106.297.242.665.3.818l.107.278h.615l-.02-.088a5.684 5.684 0 0 0-.154-.44 46.736 46.736 0 0 1-.308-.84c-.198-.554-.255-.663-.457-.87l-.146-.15.154.001c.204.001.627.04 1.046.096.264.036.344.056.355.09.008.024.068.441.135.926a87.887 87.887 0 0 0 .178 1.255c0 .011.139.02.308.02h.308l-.036-.21c-.069-.39-.232-1.64-.217-1.654.015-.015.664.202.7.233.01.01-.041.37-.114.804a65.32 65.32 0 0 0-.134.807c0 .011.133.02.296.02.259 0 .299-.005.312-.047.008-.026.088-.499.178-1.05.09-.552.17-1.026.18-1.053.01-.034.224-.153.624-.347l.61-.297.243.066c.133.035.49.109.793.163 1.125.201 1.575.294 2.382.488.455.11.901.215.99.233.09.018.212.057.271.087.118.06.073.06.883-.019.232-.023.574-.053.76-.067l.34-.025.42.232c.454.25 1.994 1.148 2.489 1.451.167.102.323.186.346.186.036 0 .043-.048.043-.326v-.325l-.102-.064a83.97 83.97 0 0 0-2.857-1.647l-.177-.089-.474.018c-.262.01-.686.04-.943.067-.447.047-.475.047-.625.002-.552-.168-2.388-.57-3.508-.77a18.93 18.93 0 0 1-.896-.178 3.437 3.437 0 0 0-.422-.08c-.05-.001-.305.104-.625.255-.93.44-1.069.533-1.129.757-.019.07-.047.127-.062.127-.04 0-.838-.276-.865-.3-.013-.01-.04-.22-.062-.464-.047-.547-.084-.837-.26-2.057-.133-.925-.137-.965-.096-1.085a5.16 5.16 0 0 0 .102-.396c.068-.308.29-.957.582-1.697.614-1.56 1.06-2.374 1.928-3.529a12.776 12.776 0 0 1 1.884-2.056c1.4-1.254 1.767-1.734 2.161-2.82.136-.375.19-.646.218-1.087l.02-.305-.097-.096c-.103-.103-.203-.123-.33-.064-.123.056-.157.146-.196.523-.046.454-.07.555-.23.96-.345.877-.647 1.266-1.769 2.281-.915.828-1.29 1.22-1.876 1.959-.839 1.058-1.275 1.772-1.908 3.121l-.057.122-.11-.23c-.19-.402-.234-.621-.234-1.154.001-.517.038-.71.216-1.125.28-.654.672-1.159 1.181-1.52.248-.177 1.404-.874 2.022-1.22.767-.43 1.709-1.245 2.057-1.78.23-.355.596-1.123.6-1.26.004-.18-.12-.302-.307-.302-.14 0-.21.094-.473.634-.382.784-.652 1.103-1.415 1.671-.472.352-.55.404-.882.586a42.75 42.75 0 0 0-1.878 1.131c-.633.438-1.021.906-1.382 1.665-.279.584-.335.846-.333 1.547 0 .504.006.562.075.814.082.302.242.66.448 1.002l.137.225-.15.405c-.245.658-.221.605-.238.526a42.21 42.21 0 0 1-.316-1.805c-.084-.63-.108-1.03-.127-2.116l-.018-1.005.102-.353c.207-.72.475-1.305 1.059-2.307.36-.62.623-1.143.743-1.484.094-.266.279-1.08.425-1.868.352-1.909.538-2.654 1.056-4.249.455-1.4.736-2.744.9-4.288l.081-.774c.097-.9.124-1.858.057-2.018C24.11.11 23.88.049 23.64.167Zm-.41 2.427c-.285 1.304-.388 1.688-.817 3.03-.129.404-.666 1.512-1.043 2.153-.132.224-.4.688-.597 1.031-.196.343-.526.9-.732 1.235-.7 1.14-.821 1.343-.935 1.57a1.267 1.267 0 0 1-.123.218c-.004-.006.05-.413.121-.906.072-.492.144-1.042.16-1.221a39.29 39.29 0 0 0 .076-1.998c-.004-.058.091-.174.513-.625.478-.51.915-.993 1.287-1.42.534-.616 1.362-1.973 2.002-3.278.114-.234.211-.423.216-.419.003.004-.054.288-.129.63Zm-.35 3.654c-.06.229-.213.733-.34 1.121-.392 1.205-.629 2.087-.803 3-.047.246-.114.582-.149.746-.035.165-.09.445-.122.625-.077.43-.242 1.216-.29 1.376-.034.115-.07.154-.383.41-.697.568-1.116 1.01-1.783 1.878l-.375.489.016-.435a8.303 8.303 0 0 1 .874-3.406c.094-.187.304-.56.468-.828l.64-1.051c.188-.31.512-.859.72-1.222.206-.362.425-.738.484-.835.31-.504.927-1.746 1.07-2.152.103-.292.091-.166-.027.284ZM16.3 13.8c-.193.178-.08.477.178.477.13 0 .221-.062.267-.183.095-.25-.248-.476-.445-.294Zm4.138.85c-.014.027-.09.158-.167.293-.47.812-.75 1.438-.949 2.118-.16.546-.354 1.034-.432 1.082-.014.009-.033-.06-.043-.154a2.475 2.475 0 0 0-.045-.273 5.156 5.156 0 0 1-.064-.46c-.036-.343-.035-.359.018-.466.14-.275.735-1.101 1.186-1.644.138-.165.494-.543.513-.543.004 0-.003.022-.017.048Zm-1.215 4.825c.01.374.025.744.035.824.015.137.013.144-.035.119a2.481 2.481 0 0 0-.336-.088c-.619-.13-1.032-.307-1.032-.442 0-.078.049-.122.551-.507.22-.168.483-.383.584-.476.112-.105.189-.158.199-.14.01.018.025.337.034.71Z%27 clip-rule=%27evenodd%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h40v35.714H0z%27 transform=%27matrix%28-1 0 0 1 40 .107%29%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.Taxi {
  width: 40px;
  height: 44px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2740%27 height=%2745%27 fill=%27none%27 viewBox=%270 0 40 45%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Cpath fill=%27%231AA0BE%27 d=%27M5.97 1.956A1.304 1.304 0 0 1 7.261.822h30.8c.787 0 1.394.692 1.292 1.473l-5.342 40.85a1.304 1.304 0 0 1-1.293 1.135H1.92a1.304 1.304 0 0 1-1.292-1.473L5.97 1.957Z%27/%3E%3Cpath fill=%27%23fff%27 d=%27M4.707 41.85a.417.417 0 0 1-.414-.421v-4.551a.417.417 0 0 1 .414-.422h.547a.38.38 0 0 1 .288.126.404.404 0 0 1 .125.296v4.55a.404.404 0 0 1-.125.296.38.38 0 0 1-.288.126h-.547Zm2.648 0a.417.417 0 0 1-.414-.421v-4.551a.417.417 0 0 1 .414-.422H7.9a.38.38 0 0 1 .288.126.404.404 0 0 1 .126.296v4.55a.404.404 0 0 1-.126.296.38.38 0 0 1-.288.126h-.546Zm2.431-4.352a.405.405 0 0 1-.295-.125.405.405 0 0 1-.126-.296v-.2c0-.113.042-.211.126-.295a.404.404 0 0 1 .295-.126h3.296c.113 0 .211.042.295.126a.404.404 0 0 1 .126.296v.2a.405.405 0 0 1-.126.295.405.405 0 0 1-.296.125h-.945c-.04 0-.06.02-.06.06v3.87a.404.404 0 0 1-.125.296.404.404 0 0 1-.295.126h-.444a.405.405 0 0 1-.295-.126.404.404 0 0 1-.126-.295v-3.872c0-.04-.02-.059-.059-.059h-.946Zm6.042 2.194c-.62-.197-1.07-.44-1.345-.731a1.523 1.523 0 0 1-.414-1.079c0-.463.16-.827.48-1.093.326-.271.789-.406 1.39-.406.453 0 .864.051 1.233.155a.486.486 0 0 1 .281.214c.074.103.11.22.11.347v.215a.258.258 0 0 1-.125.228.284.284 0 0 1-.266.03 3.506 3.506 0 0 0-1.16-.222c-.453 0-.68.178-.68.532 0 .3.198.515.592.643.68.207 1.15.448 1.41.724.267.276.4.638.4 1.086 0 1.059-.668 1.588-2.002 1.588a3.18 3.18 0 0 1-1.153-.199.557.557 0 0 1-.28-.229.737.737 0 0 1-.097-.37v-.236c0-.089.04-.155.118-.2a.228.228 0 0 1 .237-.014c.36.177.726.266 1.1.266.262 0 .459-.05.592-.148a.513.513 0 0 0 .207-.436.572.572 0 0 0-.14-.399c-.094-.103-.257-.192-.488-.266Zm-2.84-24.007c-.467 0-.872-.173-1.217-.518a1.665 1.665 0 0 1-.517-1.216v-.822c0-.466.172-.872.517-1.217.345-.344.75-.517 1.217-.517h13.567c.467 0 .872.173 1.217.517.345.345.517.75.517 1.217v.822c0 .466-.172.872-.517 1.216-.345.345-.75.518-1.217.518h-3.893c-.163 0-.244.08-.244.243v15.94c0 .467-.172.872-.517 1.217-.345.345-.75.517-1.217.517H18.86c-.466 0-.872-.172-1.217-.517a1.665 1.665 0 0 1-.517-1.217v-15.94c0-.162-.081-.243-.243-.243h-3.894Z%27/%3E%3Cpath fill=%27%231AA0BE%27 d=%27M0 37.544 4.863 1.808a.87.87 0 0 0-.86-.986H.868a.87.87 0 0 0-.869.87v35.852ZM39.764 7.34 34.9 43.077a.87.87 0 0 0 .861.986h3.133a.87.87 0 0 0 .87-.869V7.341Z%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h39.764v43.892H0z%27 transform=%27translate%280 .822%29%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.spoller__content {
  display: none;
}

.intro__content {
  padding: 0px 30px 30px 30px;
  font-size: 16px;
}

.intro__spoller {
  margin-top: 120px;
  border: 3px solid #F5857D;
  border-radius: 16px;
  overflow: hidden;
  background: #F1EFEC;
}

.intro.active .header__button {
  color: #F5857D;
}

.intro.active .header__button .arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.intro.active .header__button:hover {
  background-color: #F1EFEC;
}

.intro.active .header__button:hover .arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath stroke=%27%23F5857D%27 stroke-linecap=%27round%27 stroke-width=%271.5%27 d=%27m10 7 1.763 1.747c1.406 1.394 2.109 2.09 2.217 2.94a2.48 2.48 0 0 1 0 .626c-.108.85-.811 1.546-2.217 2.94L10 17m12-5c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z%27/%3E%3C/svg%3E");
}

.intro.active .david {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.intro__info {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.intro__info p:last-child {
  line-height: 160%;
}

.intro__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.intro__skill p {
  width: 70px;
}

.intro__skill img {
  height: 50px;
}

.intro.hover .header__button:hover {
  background: #F1EFEC;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

@media (any-hover: hover) {
  .button:hover {
    background: #F5857D;
    color: #FFFFFF;
    border-color: #F5857D;
  }

  .header__button:hover {
    background: #F5857D;
    color: #FFFFFF;
  }

  .header__button:hover .arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-width=%271.5%27 d=%27m10 7 1.763 1.747c1.406 1.394 2.109 2.09 2.217 2.94a2.48 2.48 0 0 1 0 .626c-.108.85-.811 1.546-2.217 2.94L10 17m12-5c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z%27/%3E%3C/svg%3E%0A");
  }

  .cv__button:hover i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23fff%27 d=%27m7.218 20.938-.117.741.117-.74Zm-4.156-4.156.74-.117-.74.117Zm17.876 0 .741.117-.74-.117Zm-4.156 4.156.117.741-.117-.74ZM20.6 10.55a.75.75 0 0 0-1.2.9l1.2-.9Zm-16 .9a.75.75 0 1 0-1.2-.9l1.2.9ZM12.75 3a.75.75 0 0 0-1.5 0h1.5Zm-4.162 9.534a.75.75 0 0 0-1.176.932l1.176-.932Zm.81 2.229-.588.466.588-.466Zm5.204 0-.588-.466.588.466Zm1.986-1.297a.75.75 0 0 0-1.176-.932l1.176.932Zm-4.839 3.514-.118.74.118-.74Zm.502 0 .118.74-.118-.74ZM20.25 14v1h1.5v-1h-1.5ZM15 20.25H9v1.5h6v-1.5ZM3.75 15v-1h-1.5v1h1.5ZM9 20.25c-.958 0-1.35-.002-1.665-.052l-.234 1.481c.461.073.999.071 1.899.071v-1.5ZM2.25 15c0 .9-.002 1.438.07 1.9l1.482-.235c-.05-.316-.052-.707-.052-1.665h-1.5Zm5.085 5.198a4.25 4.25 0 0 1-3.533-3.533l-1.481.235a5.75 5.75 0 0 0 4.78 4.78l.234-1.482ZM20.25 15c0 .958-.002 1.35-.052 1.665l1.481.235c.073-.462.071-1 .071-1.9h-1.5ZM15 21.75c.9 0 1.438.002 1.9-.07l-.235-1.482c-.316.05-.707.052-1.665.052v1.5Zm5.198-5.085a4.25 4.25 0 0 1-3.533 3.533l.235 1.481a5.75 5.75 0 0 0 4.78-4.78l-1.482-.234ZM21.75 14c0-1.294-.428-2.49-1.15-3.45l-1.2.9c.534.71.85 1.592.85 2.55h1.5Zm-18 0c0-.958.316-1.84.85-2.55l-1.2-.9A5.728 5.728 0 0 0 2.25 14h1.5Zm7.5-11v13h1.5V3h-1.5ZM7.412 13.466l1.398 1.763 1.176-.932-1.398-1.763-1.176.932Zm7.778 1.763 1.398-1.763-1.176-.932-1.398 1.763 1.176.932Zm-6.38 0c.546.689.995 1.256 1.396 1.659.404.405.852.741 1.425.833l.236-1.482c-.106-.017-.276-.086-.599-.41-.326-.328-.714-.815-1.282-1.532l-1.176.932Zm5.204-.932c-.568.717-.956 1.204-1.282 1.532-.323.324-.493.393-.6.41l.237 1.482c.573-.092 1.021-.428 1.425-.834.401-.402.85-.97 1.396-1.658l-1.175-.932Zm-2.383 3.424c.122.02.246.029.369.029v-1.5a.85.85 0 0 1-.133-.01l-.236 1.48Zm.369.029c.123 0 .247-.01.369-.03l-.236-1.48a.85.85 0 0 1-.133.01v1.5ZM11.25 16v1h1.5v-1h-1.5Z%27/%3E%3C/svg%3E");
  }

  .portfolio__button:hover {
    background: #195DF5;
    color: #FFFFFF;
    border-color: #195DF5;
  }

  .firma__button:hover {
    background: #F1EFEC;
    color: #000 !important;
  }
}